body {
    background-color: #202020;
	color: white;
    font-family: "Open Sans", "lucida sans unicode", "lucida grande", "Trebuchet MS", verdana, arial, helvetica, helve, sans-serif;
}

div.section {
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
	border: 1px solid white;
}

div.lastsnap {
    margin-bottom: 10px;
}

div.grid {
    overflow: hidden;
}

div.lastsnap img {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

div.capture {
    padding: 5px;
    float: left;
}
div.capture img {
    width: 200px;
}

h1 {
    margin: 0;
    padding: 0;
}

h1.overlabel {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.date {
}

input#datepicker {
    color: white;
    font-size: 15pt;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.1);
}

@media (min-width: 1000px) {
    div.capture img {
        width: 300px;
    }
}

@media (max-width: 465px) {
    div.capture {
        padding: 0;
        float: none;
    }
    div.capture img {
        display: block;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
}
