<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/static/console.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/url_params.js"></script>
<script type="text/javascript">
  function datePicked(dateStr, picker) {
    setURLParam("day", dateStr);
  }

  $( function() {
    var selectedDate = getURLParams()["day"];
    $("#datepicker").val(selectedDate);
    $("#datepicker").datepicker({
      dateFormat: "yy-mm-dd",
	  onSelect: datePicked,
	  maxDate: 0,
	  defaultDate: selectedDate
    });
  } );
</script>
</head>
<body>
<div class="lastsnap section">
<h1 class="overlabel">Latest</h1>
<img src="{{ motionCaptureDir }}/lastsnap.jpg?nocache={{ timestamp }}" />
</div>

<div class="grid section">

<h3 class="date">
Date: 
<input type="text" id="datepicker"></input>
</h3>

{% for capture in motionCaptures %}

<div class="capture">
<a href="{{ motionCaptureDir }}/{{ capture.eventTimestamp }}.mp4"><img width="200px" src="{{ motionCaptureDir }}/{{ capture.eventTimestamp }}.jpg" /></a>
</a>
<div class="timestamp">{{ capture.timestamp }}</div>
</div>

{% endfor %}

</div>


</body>
</html>
