<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/static/console.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="section">
<h3>System status</h3>
<div class="formRow">
  <label for="id1">System temperature:</label>
  <span class="staticField" id="id1">{{ temp }}</span>
</div>
<div class="formRow">
  <label for="id2">Uptime:</label>
  <span class="staticField" id="id2">{{ uptime }}</span>
</div>
<div class="formRow">
  <label for="id3">Free space:</label>
  <span class="staticField" id="id3">{{ file_stats['free'] }}/{{ file_stats['total'] }} ({{ file_stats['percent'] }}% used)</span>
</div>
</div>
</body>
</html>
